* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* header */

.body_container {
    width: 100%;
    height: 100%;
}


.logo_anton img {
    width: 120px;
    height: 80px;
    margin: 10px;

}

.nav_link_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.link {
    width: 160px;
    font-size: 1.8rem;
    margin-top: 50px;
}

/* main */

.destacados_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.destacados_1 {
    margin: 10px;
}

.destacados_1 h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}


.destacados_container img {
    width: 400px;

}



/* footer */

footer {
    height: 100%;
    background-color: #dcdcdc;
    margin-top: 10px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
}

.redes_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.redes_container li {
    list-style-type: none;
    margin-right: 20px;

}

.redes_container li a img {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 15px;

}


.copy_container {
    width: 130px;
    text-align: right;
    margin-top: 15px;
    margin-right: 10px;

}

.copy_container p {
    font-size: 1rem;
    position: relative;


}

/* mobile footer */

@media screen and (max-width: 376px) {
    footer {
        height: 80px;
    }


    .redes_container {
        display: flex;
        justify-content: flex-start;

    }

    .redes_container li {
        margin-right: 2px;
    }

    .redes_container li a {
        padding-left: 15px;

    }

}

/* Pages alquileres */

.main_alquileres_container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}

.img_alq_container {
    width: 200px;
    height: 400px;
    margin: 25px;
}

.img_alq_container h2 {
    font-size: 13px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 30px;
}

.img_alq_container p {
    text-align: center;

}

.alquileres_cargarMas_container {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* mobile alquileres */

@media screen and (max-width: 376px) {
    .img_alq_container p {
        text-align: center;
        width: 90px;
    }

    .img_alq_container h2 {
        font-size: 10px;
    }

    .img_alq_container {
        margin: 10px;

    }

    .alquileres_cargarMas_container {
        margin-top: 25px;
        font-size: 12px;
    }

}

/* pages ventas */

.main_ventas_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}

.img_ventas_container {
    width: 300px;
    height: 400px;
    margin: 25px;
}

.img_ventas_container h2 {
    font-size: 13px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 30px;
}

.img_ventas_container p {
    text-align: center;

}

.ventas_cargarMas_container {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* mobile ventas */

@media screen and (max-width: 375px) {

    .img_ventas_container {
        margin: 10px;
        text-align: center;
        
    }

    .img_ventas_container p {
        width: 190px;

    }

    .img_ventas_container h2 {
        font-size: 10px;
    }

    .ventas_cargarMas_container {
        font-size: 12px;

    }

}

/* page servicios */

.servicios_container {
    display: flex;
    justify-content: space-evenly;
    
}

.nuestros_servicios {
    text-align: center;
    margin-top: 80px;
    width: 290px;
    height: 230px;
    background-color: #dcdcdc;
    opacity: 0.5;
    padding: 30px;
    
}

.nuestros_servicios h2 {
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}

.nuestros_servicios p {
    font-style: italic;
    margin-top: 10px;
    font-size: 12px;
}

.servicios_container img {
    height: 300px;
    margin-top: 50px;

}

.servicios_container_detalle {
    text-align: left;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.servicios_container_detalle p {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* mobile servicios */

@media screen and (max-width: 376px) {
    .servicios_container {
        flex-direction: column;
        align-items: center;
    }

    .servicios_container img {
        height: 190px;
        margin-top: 20px;
    }
    .nuestros_servicios {
        margin-top: 20px;
    }

    .servicios_container_detalle {
        text-align: left;
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .servicios_container_detalle p {
        width: 250px;
    }
}