* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.body_container {
  width: 100%;
  height: 100%;
}
.body_container .logo_anton img {
  width: 120px;
  height: 80px;
  margin: 10px;
}

.nav_link_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_link_container .link {
  width: 160px;
  font-size: 1.8rem;
  margin-top: 50px;
}

.destacados_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.destacados_container img {
  width: 400px;
}
.destacados_container .destacados_1 {
  margin: 10px;
}
.destacados_container .destacados_1 h2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

footer {
  background-color: #dcdcdc;
  height: 100%;
  margin-top: 10px;
}
footer .footer_container {
  display: flex;
  justify-content: space-between;
}
footer .redes_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .redes_container li {
  list-style-type: none;
  margin-right: 20px;
}
footer .redes_container img {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 15px;
}
footer .copy_container {
  width: 130px;
  text-align: right;
  margin-top: 15px;
  margin-right: 10px;
}
footer .copy_container .copy_container p {
  font-size: 1rem;
  position: relative;
}

@media screen and (max-width: 376px) {
  footer {
    height: 60px;
  }
  .redes_container {
    display: flex;
    justify-content: flex-start;
  }
  .redes_container li {
    margin-right: 2px;
  }
  .redes_container a {
    padding-left: 15px;
  }
}
.main_ventas_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.main_ventas_container .img_ventas_container {
  width: 290px;
  height: 300px;
  margin: 25px;
}
.main_ventas_container .img_ventas_container h2 {
  font-size: 13px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 20px;
}
.main_ventas_container .img_ventas_container p {
  text-align: center;
}

.ventas_cargarMas_container {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

@media screen and (max-width: 376px) {
  .main_ventas_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
  }
}
.img_ventas_container {
  margin: 10px;
  text-align: center;
}
.img_ventas_container p {
  width: 190px;
  margin-left: 50px;
}

.main_alquileres_container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.main_alquileres_container .img_alq_container {
  width: 200px;
  height: 430px;
  margin: 25px;
}
.main_alquileres_container .img_alq_container h2 {
  font-size: 10px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 30px;
}
.main_alquileres_container .img_alq_container p {
  text-align: center;
  font-size: 10px;
}

.alquileres_cargarMas_container h3 {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

@media screen and (max-width: 376px) {
  .alquileres_cargarMas_container h3 {
    margin-top: 30px;
    font-size: 10px;
  }
}
footer {
  background-color: #dcdcdc;
}

footer {
  background-color: #dcdcdc;
}

/*# sourceMappingURL=style.css.map */
